@model HrService.Models.HrSpecialist

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row">
        <div class="col-md-9">
            <h4>Общая информация</h4>
        </div>
        <div class="col-md-3">
            <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a> |
            <a asp-action="Index">Назад</a>
        </div>
    </div>
    <hr />
    <dl class="row p-3" style="background: #ffffcc;">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdDivisionNavigation.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdDivisionNavigation.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdPositionNavigation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdPositionNavigation.Name)
        </dd>
    </dl>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4>Задачи на выполнении</h4>
            <hr />
        </div>
        <div>
            <table class="table table-hover" style="background: #ffffcc;">
                <tr>
                    <th>Задача</th>
                    <th>Срок выполнения</th>
                    <th>Отметка о выполнении</th>
                    <th>Редактировать</th>
                </tr>
                @foreach (var task in ViewBag.hrTasks)
                {
                    <tr>
                        <td>@task.Task</td>
                        <td>@task.Deadline</td>
                        <td>
                            @*@trainging.Completed*@
                            @if (task.Completed == 0)
                            {
                                <input type="checkbox" name="TraingingIsCompleted" />
                            }
                            else
                            {
                                <input type="checkbox" checked name="TraingingIsCompleted" />
                            }
                        </td>
                        <td>
                            <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id">Изменить</a>
                            <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@task.Id">Удалить</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <hr />
</div>

