@model IEnumerable<HrService.Models.HrSpecialist>

@{
    ViewData["Title"] = "HR-специалисты";
}

<h4 class="float-right">@ViewData["Title"]</h4>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDivisionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPositionNavigation)
            </th>
            <th>
                Количество задач
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDivisionNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPositionNavigation.Name)
                </td>
                <td>
                    @if (item.Hrtasks.Count == 0)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Hrtasks.Count);

                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Профиль сотрудника</a>

                </td>
            </tr>
        }
    </tbody>
</table>
