@model HrService.Models.EmployeeDirector

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row">
        <div class="col-md-9">
            <h4>Общая информация</h4>
        </div>
        <div class="col-md-3">
            <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a> |
            <a asp-action="Index">Назад</a>
        </div>
    </div>
    <hr />
    <dl class="row p-3" style="background: #ffffcc;">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BirthData)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BirthData)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdDivisionNavigation.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdDivisionNavigation.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdPositionNavigation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdPositionNavigation.Name)
        </dd>
    </dl>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4>Сотрудники на адаптации</h4>
            <hr />
        </div>
        <div>
            <table class="table table-hover" style="background: #ffffcc;">
                <tr>
                    <th>ФИО</th>
                    <th>Процент выполнения рабочего плана</th>
                    <th>Процент выполнения плана по обучению</th>
                    <th>Редактировать</th>
                    <th></th>
                </tr>
                @foreach (var employee in ViewBag.employees)
                {
                    <tr>
                        <td>@employee.FullName</td>
                        <td>
                            @foreach (var workplansCount in ViewBag.workplansCounts)
                            {
                                if (employee.Id == workplansCount.Id && workplansCount.WorkPlans.Count != 0)
                                {
                                    @(Math.Round((float)(((float)employee.WorkPlans.Count)/((float)workplansCount.WorkPlans.Count) * 100.0), 2));
                                    <span>%</span>
                                }
                            }
                        </td>
                        <td>
                            @foreach (var task in ViewBag.taskCounts)
                            {
                                if (employee.Id == task.Id && task.Training.Count != 0)
                                {
                                    @(Math.Round((float)(((float)employee.Training.Count)/((float)task.Training.Count) * 100.0), 2));
                                    <span>%</span>
                                }
                            }
                        </td>
                        <td>
                            <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Перейти в профиль</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <hr />
</div>

