@model IEnumerable<HrService.Models.Employee>

@{
    ViewData["Title"] = "Сотрудники";
}
<hr />
<form asp-controller="Employees" asp-action="Index" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="DivisionNumber">Название отдела</label>
        <select class="form-control mr-3" asp-items="@(new SelectList(ViewBag.divisionList,"Id","Name"))" name="DivisionNumber">
            <option selected="selected">
                @foreach (var division in ViewBag.divisionSelected)
                {
                    @division.Name
                }
            </option>
        </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Показать сотрудников" />
</form>
<hr />
<h4 class="float-right">
    @ViewData["Title"]
    @foreach (var division in ViewBag.divisionSelected)
    {
        <span>отдела</span> @division.Name;
    }
</h4>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.SecondName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Skils)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.IdUser)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Satus)
                </th>*@

            <th>
                @Html.DisplayNameFor(model => model.IdDirectorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDivisionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPositionNavigation)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Training)*@
                Количество учебных задач
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.WorkPlans)*@
                Количество рабочих задач
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiddleName)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Skils)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.IdUser)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Satus)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.IdDirectorNavigation.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDivisionNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPositionNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Training.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPlans.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
