@model IEnumerable<HrService.Models.Employee>
@using System.Security.Claims;

@{
    string role = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value;
    ViewData["Title"] = "Сотрудники";
}
<hr />
@{

    if (role == "admin")
    {
        <form asp-controller="Employees" asp-action="Index" class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="DivisionNumber">Название отдела</label>
                <select class="form-control mr-3" asp-items="@(new SelectList(ViewBag.divisionList,"Id","Name"))" name="DivisionNumber">
                    <option selected="selected">
                        @foreach (var division in ViewBag.divisionSelected)
                        {
                            @division.Name
                        }
                    </option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Показать сотрудников" />
        </form>
        <hr />
    }

}

<h4 class="float-right">
    @ViewData["Title"]
    @foreach (var division in ViewBag.divisionSelected)
    {
        <span>отдела</span> @division.Name;
    }
</h4>
@{

    if (role == "admin")
    {
        <p>
            <a asp-action="Create" class="btn btn-outline-primary">Добавить</a>
        </p>
    }

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDirectorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDivisionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPositionNavigation)
            </th>
            <th>
                Количество учебных задач
            </th>
            <th>
                Количество рабочих задач
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDirectorNavigation.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDivisionNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPositionNavigation.Name)
                </td>
                <td>
                    @if (item.Training.Count == 0)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Training.Count);

                    }
                </td>
                <td>
                    @if (item.WorkPlans.Count == 0)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.WorkPlans.Count);

                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Профиль сотрудника</a>
                </td>
            </tr>
        }
    </tbody>
</table>
